@charset "UTF-8";
@import url(normalize.css);
/* CSS Document

*/

 /*public*/
 a,area{blr:expression(this.onFocus=this.blur());outline:none; text-decoration:none;}
a:link {text-decoration: none; color:#ccc;blr:expression(this.onFocus=this.blur());outline:none;}
a:visited {	text-decoration: none;	color: #ccc;}
a:hover {	text-decoration: none;	color: #fff;}
a:active {	text-decoration: none;	color: #ffffff;}
.w800{width:800px;margin:0 auto;}
.w960{width:960px;margin:0 auto;}
.bodybg{width: 100%;height: 100%;text-align: left;font-size: 14px;background-image: url(../images/bg.png);position:relative;}
.layout{}
.icon{background-image:url(../images/icon.png);background-repeat:no-repeat;display:inline-block;width:36px;height:30px;}
.title2{font-weight:normal;font-size:24px;padding:10px 0;line-height:40px;}

/*header*/
.header {overflow:hidden;}
.attention{font-size:16px;padding:1%;}
.attention *{vertical-align:middle;}
.attention a{margin:0 5px;transition: all ease-in-out .15s;-webkit-transition: all ease-in-out .15s;-moz-transition: all ease-in-out .15s;}
.attention a:hover{background-position:0px -40px;transition: all ease-in-out .15s;-webkit-transition: all ease-in-out .15s;-moz-transition: all ease-in-out .15s;}
.logo {line-height:2.4;text-align:center;}
.logo img {vertical-align: middle;width:638px;}
.nav{font-size:18px;font-weight:bold;width:638px;margin:0 auto;}
.nav a{padding:2px 15px;}
.nav a.curr{color:#1aa1e1;}

/*conter*/
.conter{background:#fff;width:100%;height:0;overflow:hidden;position:relative;}
.product{padding:30px 0;width:50%;float:left;}
.text-info{position:relative;height:500px;color:#222}
.text-info h2{padding:10px 0}
.text-info h3{font-size:42px;font-style:normal;padding:10px 0;font-family:"黑体"}
.text-info p{font-size:18px;padding:10px 0;line-height:1.5;}
.app-down{position:absolute;left:0;bottom:50px;}
.app-down a{filter:alpha(opacity=90);opacity:.9;}
.app-down a:hover{filter:alpha(opacity=100);opacity:1;}

.about-us{font-size:16px;line-height:1.8;width:50%;float:left;}
.about-us p{padding-left:10px;}

.thumb-list{
	letter-spacing:-0.5em;
	/* text-align:justify; */
	/*text-justify:distribute-all-lines;  for ie */
	width:100%;
}
.thumb-list:after{
	content:"";
	height:0;
	width:100%;
	display:inline-block;
	overflow:hidden;
}
.thumb-list li{
	display:inline-block;
	vertical-align:top;
	letter-spacing:normal;
	*display:inline;
	*zoom:1;
	width:130px;
	height:140px;
	background-color: #fff;
	position:relative;
	text-align:center;
}
.thumb-list li em{display:block;width:100%; text-align:center;padding-top:0px;}
.thumb-list li img{width:100px;height:100px;border-radius:50%;overflow:hidden;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.border-radius{-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.border-radius:hover{-webkit-transform: scale(1.2);-moz-transform: scale(1.2);transform: scale(1.2);}

/*pages*/
.pages{text-align:center;padding:10px 0;}
.pages a,.pages span{background:#fff;padding:2px 6px;margin:2px;border:1px solid #999;text-decoration:none;color:#666}
.pages a:hover{background:#ffe9e5;border:1px solid #999;}
.pages span.current{border-color:#D84C31;background:#D84C31;font-weight:bold;color:#fff}
.pages span.disabled{color:#666;border:1px solid #ccc}

/*footer*/
.footer{text-align:center;padding:30px 0;color:#666;width:100%;position:fixed;bottom:0;left:0;}

/*Responsive*/
@media (min-width: 640px) and (max-width:800px) {
	.w800{width:98%;margin:0 auto;}
	.logo img,.nav{ width:80%;}
}
@media (min-width:360px) and (max-width:645px)  {
	.w800{width:98%;margin:0 auto;}
	.logo img,.nav{ width:80%;}
	.img{display:none;}
}
@media (max-width:360px) {
	.w800{width:98%;margin:0 auto;}
	.logo img,.nav{ width:80%;}
	.img{display:none;}
	.text-info h2 img{width:100%;}
	.nav{font-size:14px;}
}

/*test*/
.fixednum{position:absolute;top:0;right:0;display:none;}
